<template>
  <div class="flex items-center justify-center h-screen text-center">
    <div class="p-4 max-w-lg">
      <div class="w-1/2 my-4 mx-auto">
        <progress-ring
          :issue-completion="issueCompletion"
          :days-in-milestone="100"
          :days-passed-in-milestone="daysPassedInMilestone"
        />
      </div>
      <h1 class="text-2xl">Welcome to the Milestone Dashboard</h1>
      <p>To continue, please log in with GitLab</p>
      <login-with-gitlab class="my-6" />
    </div>
  </div>
</template>

<script>
import LoginWithGitlab from "@/components/login_with_gitlab.vue";
import ProgressRing from "@/components/progress_ring.vue";

import userQuery from "@/graphql/user.gql";

export default {
  components: {
    LoginWithGitlab,
    ProgressRing,
  },
  data() {
    return {
      currentUser: {},
      issueCompletion: 0,
      daysPassedInMilestone: 0,
      intervals: [],
    };
  },
  apollo: {
    currentUser: {
      query: userQuery,
      update({ currentUser }) {
        if (currentUser) {
          this.$router.push(`/dashboard/${currentUser.username}`);
        }
      },
    },
  },
  mounted() {
    const getPercent = () => Math.ceil(Math.random() * 100);
    this.issueCompletion = getPercent();
    this.daysPassedInMilestone = getPercent();

    [3, 11, 17].forEach((interval) => {
      this.intervals.push(
        setInterval(() => {
          const value = getPercent();
          if (value % 2) {
            this.issueCompletion = value;
          } else {
            this.daysPassedInMilestone = value;
          }
        }, interval * 1000)
      );
    });
  },
  destroyed() {
    this.intervals.forEach((interval) => clearInterval(interval));
  },
};
</script>
