<template>
  <a
    :href="webUrl"
    target="_blank"
    rel="nofollow"
    class="rounded overflow-hidden bg-gray-900 hover:bg-gray-700"
    :class="{ 'opacity-25': isCompleted }"
  >
    <progress-bar :progress="completion" />
    <div class="px-4 py-3">
      <div class="flex items-center">
        <svg class="fill-current w-6 h-6" viewBox="0 0 24 24">
          <path
            d="M11.03 8h3.94l1.06-4.24a1 1 0 1 1 1.94.48L17.03 8H20a1 1 0 0 1 0 2h-3.47l-1 4H18a1 1 0 1 1 0 2h-2.97l-1.06 4.25a1 1 0 1 1-1.94-.49l.94-3.76H9.03l-1.06 4.25a1 1 0 1 1-1.94-.49L6.97 16H4a1 1 0 0 1 0-2h3.47l1-4H6a1 1 0 0 1 0-2h2.97l1.06-4.24a1 1 0 1 1 1.94.48L11.03 8zm-.5 2l-1 4h3.94l1-4h-3.94z"
          />
        </svg>
        <span class="[ iid ] text-xl font-bold">{{ iid }}</span>
        <div
          v-if="workflowLabel"
          class="[ workflow-badge ] px-2 bg-blue-300 rounded ml-2 text-black ml-auto"
        >
          {{ workflowLabel }}
        </div>
      </div>
      <p class="truncate">{{ title }}</p>
    </div>
  </a>
</template>

<script>
import ProgressBar from "@/components/progress_bar.vue";

import { WORKFLOW_LABEL_PREFIX } from "@/constants.js";
import getWorkflowLabel from "@/utils/get_workflow_label";

export default {
  components: {
    ProgressBar,
  },
  props: {
    completion: {
      type: Number,
      required: true,
    },
    iid: {
      type: String,
      required: true,
    },
    title: {
      type: String,
      required: true,
    },
    webUrl: {
      type: String,
      required: true,
    },
    labels: {
      type: Array,
      required: false,
      default: () => [],
    },
  },
  computed: {
    isCompleted() {
      return this.completion >= 100;
    },
    workflowLabel() {
      return getWorkflowLabel(this.labels).replace(WORKFLOW_LABEL_PREFIX, "");
    },
  },
};
</script>
